venv/
__pycache__/
dist/
.idea/
*~
*.pyc
*.egg-info/
*.swp
.eggs/
data/po/*.mo
.project
.pydevproject

# Files generated when building the deb package
.pybuild/
build/
debian/minigalaxy.6
debian/files
debian/.debhelper/
debian/debhelper-build-stamp
debian/minigalaxy/
debian/minigalaxy.substvars
debian/minigalaxy.debhelper.log
debian/minigalaxy.postinst.debhelper
debian/minigalaxy.prerm.debhelper
