.test {
  border: 1px solid green;
  color: red;
  background-color: purple;
}

#gametile .button-left {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
  margin-right: 0px;
}
#gametile .button-right {
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#gametile .progress-bar * {
  border-radius: 0px;
}

.platform-icon-bar image {
	margin: 1pt;
	border: 2pt solid transparent;
	border-radius: 2pt;
	padding: 1pt;
}

.platform-icon-bar image.active-platform {
  border-color: @theme_text_color;
}

.platform-icon-bar image.icon-highlight {
	border-color: @theme_selected_bg_color;
}
