[Desktop Entry]
Name=Minigalaxy
GenericName=GOG client
Comment=A simple GOG Linux client
Exec=minigalaxy
Icon=minigalaxy
Type=Application
Keywords=galaxy,gaming,games,game,old,good
Categories=GTK;Utility;Game;